<div class="page-header">
  <h1><%= @user.full_name %></h1>
</div>

<div class="row">
	<div class="span6">
		<% if @statuses %>
		  <% @statuses.each do |status| %>
		    <div class="well">
		      <%= status.content %>
		      <hr />
		      <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		    </div>
		  <% end %>
		<% end %>
	</div>
	<div class="span3 well">
			<legend>User Favorites</legend>
				Favorite Film: <%= @user.favorite_film %><br>
				Favorite TV Show: <%= @user.favorite_tv_show %><br>
				Favorite Book: <%= @user.favorite_book %><br>
				Favorite Band: <%= @user.favorite_band %>

	</div>
</div>